.cont {
  // Grid settings
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 0.8fr 1.1fr;
  grid-template-areas: "groupName groupName""datasetList datasetDetails""datasetList groupMembers";
  row-gap: 2rem;
  column-gap: 3rem;

  height: 120%;

  // Group name container
  .groupName {
    grid-area: groupName;
    margin: 2% 3.4% 0 3.4%;
    text-align: center;
  }

  // Dataset details container
  .datasetDetails {
    grid-area: datasetDetails;
    margin: 0 7% 0 0;
  }

  // Dataset list container
  .datasetList {
    grid-area: datasetList;
    margin: 0 0 5% 7%;
  }

  // Group members container
  .groupMembers {
    grid-area: groupMembers;
    margin: 0 7% 5% 0;
  }
}
