<section class="container">
    <div class="registerBox">
      <h1>Register</h1>
      <form method="post" action="index.html" autocomplete="off">
        <p><input type="text" name="login" value="" placeholder="enter your full name" ></p>
        <p><input type="" name="username" value="" placeholder="enter a username"></p>
        <p><input type="email" name="email" value="" placeholder="email"></p>
        <p><input type="password" name="password" value="" placeholder="Password"></p>
        <p><input type="password" name="Rpassword" value="" placeholder=" Repeat Password"></p>
        <div class="signUpDiv">
          <button class="signUp">Sign In</button>
        </div>
        <p class="noAccount">Already have an account?<a href="">Sign In</a></p>
      </form>
    </div>
  </section>
