.container {
  display: grid;
  grid-template-columns: 5% 95%;
  grid-template-rows: 8% 92%;
  grid-template-areas: "app-header app-header""app-nav router-outlet";
  grid-gap: 0;

  height: 100%;

  app-header {
    grid-area: app-header;
  }

  app-nav {
    grid-area: app-nav;
  }

  .content {
    grid-area: router-outlet;
    background: linear-gradient(to bottom, #242b3f 0%, #141415 100%);
  }
}
