
<section class="container">
  <div class="login">
    <h1>Login</h1>
    <form method="post" action="index.html" autocomplete="off">
      <p><input
        autocomplete="false"
        type="text" 
        name="input" 
        id="input" 
        required placeholder="username or email"
        required pattern="alex.ernst@sweden.se" >
      </p>
      <p> <input 
        type="password" 
        name="input" 
        id="input" 
        required placeholder="password" 
        pattern="tester123">
      </p>
      <div class="knoppen">
        <button  class="signIn" (click)="signThis()"  >Sign In</button>
        <button class="inloggen" (click)="logIn()"><span>Login</span></button>
      </div>
      <p class="remember_me">
          <label>
            <input type="checkbox" name="checkbox" id="remember_me">
            Remember me 
          </label>
        </p>
    </form>

  </div>
</section>