<!-- <form class="login" action="index.html" method="POST">
    <h1>Log In</h1>
    <div class="gegevens">
         <input type="text" name="Username" placeholder="Username">
         <input type="password" name="Password" placeholder="Password">   
    </div>
    <div class="inlogButton">
       <button class="loginButton">Login</button>
    </div>
    <div class="signInButton">
          <button class="signInButton">Sign In</button>
    </div>
    <div class="newAccount">Don't have an account? <span>Sing up</span></div>

</form> -->



<section class="container">
  <div class="login">
    <h1>Login to ....</h1>
    <form method="post" action="index.html">
      <p><input class="inloggen" type="text" name="login" value="" placeholder="Username or Email"></p>
      <p><input type="password" name="password" value="" placeholder="Password"></p>
      <div class="knoppen">
        <button class="signIn">Sign In</button>
        <button class="inloggen"><span>Login</span></button>
      </div>
      <p class="remember_me">
          <label>
            <input type="checkbox" name="remember_me" id="remember_me">
            Remember me 
          </label>
        </p>
    </form>

  </div>
</section>