@import "../../styles.scss";

nav {
  width: 200px;
  height: 100%;
  background: linear-gradient(to bottom, #7245b8 0%, $color-secondary 100%);

  transform: translateX(-140px);
  transition: all .4s ease-in-out;

  &.active {
    transform: translateX(0px);

    .link-text {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    transition: all .2s;
    padding: 0px 0;

    &:hover{
      background-color: rgba(255,255,255,0.1);
      .link-text{
        margin-right: 10px;
        // color: rgb(210, 210, 210)
      }

      .icon i {
        &.small {
          transform: scale(0.8);
        }

        &.medium {
          transform: scale(0.9);
        }
      }
    }
  }

  .link-text {
    color: white;
    font-size: 24px;
    margin-right: 20px;
    text-decoration: none;
    transition:
      margin-right .2s ease-in,
      transform .9s,
      opacity .4s,
      visibility .4s;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
  }

  .icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      color: white;
      transition: all .2s;
    }

    i.small {
      transform: scale(0.7);
    }

    i.medium {
      transform: scale(0.8);
    }
  }
}
