@import "../../styles.scss";

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "profile profile invites";
  height: 95%;

  @include for-accountPage-up {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "profile"
      "invites";

  }

  .profile {
    grid-area: profile;
    height: fit-content;

    .form-cont {
      width: fit-content;
      margin: 46px 65px 21px 64px;
      position: relative;

      @include for-phone-only {
        margin: 0;
        width: 100%;
        padding: 10px 0;
      }

      hr {
        margin-top: 20px;
      }

      .edit-toggle {
        right: 50px !important;
        position: absolute !important;
        width: 92px !important;
        top: 35px !important;
      }

      form {
        width: 90%;
        margin: 5%;

        div {
          display: flex;

          @include for-phone-only {
            flex-direction: column;
          }


          #pf {
            height: 220px;
            width: 220px;
            min-width: 220px;

            div {
              flex-direction: column;

              img {
                border-radius: 100%;
                height: 100%;
                width: 100%;
                margin-bottom: 15px;

                @include for-phone-only {
                  width: 120px;
                  height: 120px;

                }


              }

              div {
                flex-direction: row;
                justify-content: center;
                margin: 2px 0;

                input {
                  height: fit-content;
                  text-align: center;
                  background-color: #00000054;
                  color: white;
                  border: none;
                  border-radius: 6px;
                  font-size: 14px;
                  transition: all 0.3s ease-in-out;
                }

                input:disabled {
                  text-align: center;
                  background: none;
                  color: white;
                  border: none;
                  font-size: 14px;
                }

                span {
                  margin-right: 5px;
                }
              }
            }

          }

          .inputs {
            flex-direction: column;
            margin-left: 30px;

            #location {
              margin-top: 9px;
              color: gray;

              input {
                margin-top: -2px;
                margin-left: 18px;
                font-size: 17px;

                width: 250px;
                color: gray;

              }

            }

            #company {
              margin: 0;

              input {
                font-size: 22px;
                /* margin-top: 8px; */
                color: grey;
              }
            }

            #job-desc {
              input {
                font-size: 20px;
                color: grey;
              }
            }

            #desc {
              margin-top: 20px;



              div {
                flex-direction: column;
                width: 100%;

                label {
                  font-size: 20px;
                }

                &::after {
                  content: "";
                  width: 275px;
                  position: absolute;
                  height: 2px;
                  background: #ffffffa1;
                  margin-top: 27px;
                  /* margin-left: 102px; */
                }
              }

            }

            input[type="text"] {
              height: fit-content;
              font-size: 32px;
              background-color: #00000054;
              font-size: 32px;
              color: white;
              border: none;
              border-radius: 6px;
              transition: all 0.3s ease-in-out;
            }

            input:disabled {
              background: none;
              color: white;
              border: none;

            }

            textarea {
              font-family: "Nunito Sans", sans-serif;
              font-size: 14px;
              margin-top: 21px;
              color: #bbb;
              background-color: #00000054;
              width: 24rem;
              resize: none;
              border: none;
              border-radius: 6px;
            }

            textarea:disabled {
              background: none;
              border: none;


            }
          }


        }

      }
    }
  }


  .invites {
    grid-area: invites;
  }

}
