<div class="grid-container">

  <div class="profile">

    <div class="form-cont contentContainer">
      <div class="edit-toggle">
        <ng-switchery [(ngModel)]="edit" onLabel="edit" color="orange"></ng-switchery>

      </div>
      <form action="">

        <div>
          <div id="pf">
            <div>
              <img src="{{picUrl}}" alt="`profile pic">
              <div>
                <span class="fa fa-phone"></span>
                <p>{{ phoneNum }}</p>
              </div>
              <div>
                <span class="fa fa-envelope"></span>
                <p>{{ email }}</p>
              </div>
              <div>
                <span class="fa fa-globe"></span>
                <p>{{website}}</p>
              </div>

            </div>

          </div>
          <div class="inputs">
            <div>
              <input [disabled]="edit" value="Alex Ernst" type="text">

              <div id="location">
                <span class="fa fa-map-marker"></span>
                <p> {{loc}}</p>
              </div>

            </div>
            <div id="company">
              <input [disabled]="edit" value="{{companyName}}" type="text">
            </div>
            <div id="job-desc">
              <input [disabled]="edit" value="{{jobDesc}}" type="text">
            </div>

            <div id="desc">
              <div>
                <label for="">About me</label>
                <p>{{about}}</p>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="invites">
    <app-invites></app-invites>
  </div>
</div>
