<div class="grid-container">

  <div class="profile">

    <div data-wow-delay="0.5s" class="form-cont contentContainer wow animated infinite bounce delay-2s">
      <div class="edit-toggle">
        <ng-switchery [(ngModel)]="edit" onLabel="edit" color="orange"></ng-switchery>

      </div>
      <form action="">

        <div>
          <div id="pf">
            <div>
              <img src="{{picUrl}}" alt="profile pic">
              <div>
                <span class="fa fa-phone"></span>

                <input [disabled]="edit" value="{{ phoneNum }}" type="tel" name="" id="">
              </div>
              <div>
                <span class="fa fa-envelope"></span>


                <input [disabled]="edit" value="{{ email }}" type="email" name="" id="">
              </div>
              <div>
                <span class="fa fa-globe"></span>

                <input [disabled]="edit" value="{{website}}" type="url" name="" id="">
              </div>

            </div>

          </div>
          <div class="inputs">
            <div>
              <input [disabled]="edit" value="Alex Ernst" type="text">

              <div id="location">
                <span class="fa fa-map-marker"></span>
                <input [disabled]="edit" value="{{loc}}" type="text">
              </div>

            </div>
            <div id="company">
              <input [disabled]="edit" value="{{companyName}}" type="text">
            </div>
            <div id="job-desc">
              <input [disabled]="edit" value="{{jobDesc}}" type="text">
            </div>

            <div id="desc">
              <div>
                <label for="">About me</label>
                <textarea [disabled]="edit" name="" id="" cols="30" rows="10">{{about}}
                </textarea>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="invites">
    <app-invites></app-invites>
  </div>
</div>
