.datasets {
  padding: 0 1.5% 1% 1.5%;

  h1 {
    font-size: 42px;
    display: flex;
    justify-content: center;
    padding-top: 1%;

  }

  .horzline {
    border: 0.5px solid white;
  }

  p {
    font-size: 30px;
    padding-top: -0.5%;
  }

  .summary {
    font-size: 20px;
  }

  br{
   display: block;
    margin-bottom: 1px;
    font-size: 2px;
  }

  .dataset {
    padding-bottom: 1%;
  }

  .groupdatasets {
    padding-top: 2%;
  }

  .dataset:hover {
    color: #7245b8;
  }
}
