.datasets {
  padding-left: 1%;

  h1 {
    font-size: 50px;
    display: flex;
    justify-content: center;
  }

  p {
    font-size: 35px;
  }

  .summary {
    font-size: 25px;
  }

  .groupdatasets {
    padding-top: 5%;
  }
}
