<div class="cont">

  <div class="groupList contentContainer">
    <h1>Group list</h1>
    <hr>
    <div>
      <!-- Insert group list here -->

      <!-- Temporary test -->
      <div class="groupListStyle">
        <table>
          <tr *ngFor="let group of this.userService.getGroupDetails()" (click)="this.selectedGroup = group">
            <td>{{group.groupName}}</td>
          </tr>
        </table>
      </div>

    </div>
  </div>

  <div class="groupDetails contentContainer">
    <h1>Group details</h1>
    <hr>
    <div class="groupDetailsContent">
      <!-- Insert group details here -->
      <img src="" alt="">
      <table>
        <tr>
          <td>Group name:</td>
          <td>{{this.selectedGroup.groupName}}</td>
        </tr>
        <tr>
          <td>Created on:</td>
          <td>{{this.selectedGroup.createdOn.toDateString()}}</td>
        </tr>
        <tr>
          <td>Created by:</td>
          <td>{{this.selectedGroup.createdBy}}</td>
        </tr>
        <tr>
          <td>Amount of members:</td>
          <td>{{this.selectedGroup.memberCount}}</td>
        </tr>
      </table>

      <!-- Give routerLink a route param to give selected value -->
      <button routerLink="/groups/single/" class="button">Go to group</button>

    </div>
  </div>

  <div class="createGroup contentContainer">
    <h1>New group</h1>
    <hr>
    <div class="createGroupContent">
      <!-- Insert new group here -->
      <app-create-group *ngIf="this.createGroupPopup" (exit)="this.toggleGroupPopup()"></app-create-group>

      <button (click)="this.toggleGroupPopup()" class="button">Create new group</button>
    </div>
  </div>

</div>
