.cont {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(#000000, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  .popupContainer {
    background: linear-gradient(to bottom, #242b3f 0%, #1f1f20 100%);
    width: 45%;
    height: 80%;
    border-radius: .5rem;
    padding: 2rem;
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.12);

    overflow-y: hidden;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    h1 {
      text-align: center;
      padding: .5rem;
      font-size: 1.5rem;
    }

    .popupContent {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 70%;

      table {
        width: 100%;

        td {
          text-align: center;
          font-size: 1.1rem;
          padding: .5rem;

          input {
            width: 100%;
            padding: .5rem;
            background: rgba(0, 0, 0, 0);
            border: solid 1px white;
            border-radius: .3rem;
            color: white;
            text-align: center;
            font-size: 1.2rem;

            &:focus {
              outline: none;
            }
          }
        }
      }

      .userSelector {
        width: 96%;
      }
    }

    .buttonRow {
      display: flex;
      justify-content: space-between;
      justify-self: flex-end;

      button {
        width: 45%;
      }
    }
  }
}

:host {
  .selected-item {
    background-color: #000000;
  }
}
