
h1{
  display: flex;
  justify-content: center;
  align-items: center; 
  padding-bottom: 30px;
}

.resetPass{
    position: absolute;
    width: 300px;
    height: 400px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 100px 0 -150px;
    background-color: rgba(138, 138, 138, 0.1);
    border-radius: .5rem;
    box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.12);
  }

  input[type=password] { 
    height: 30px;
  width:280px;
  padding:10px 5px 0 10px;
  background:linear-gradient(#1f2124, #27292c);
  border:1px solid #222;
  box-shadow:
    0 1px 0 rgba(255,255,255,0.1);
  border-radius:0.3em;
  margin-bottom:20px;
  color: white;
  
  
 }
 
  
  p { margin: 20px 0 0; }

  p { margin: 20px 0 0 1px; }
  p:first-child { margin-top: 0; }

  .knoppen{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    
   
  button {
    width: 45%;
    height: 30px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 12px;
    
  }
  }


  