nav {
  display: none !important;
}

.container {


  display: flex;
  justify-content: center;

  .sec1 {
    div {
      width: fit-content;
      height: fit-content;

      img {
        height: 800px;
        widows: 800px;

      }
    }
  }

}
