<div class="cont">
  <div class="outer-burger" (click)="toggleNav()">
    <div class="hamburger" [ngClass]="{'active': navExtended}"></div>
  </div>
  <div class="content-wrapper">
    <div class="logo-text-wrapper">
      <h1>Urban analytics</h1>
    </div>
    <div class="account-text-wrapper">
      <a routerLink="auth/login">login</a><span> / </span><a routerLink="auth/register">register</a>
      <a routerLink="/account">My Account<i class="fa fa-user-circle"></i></a>
    </div>
  </div>
</div>
