<div class="cont">
  <div class="outer-burger" (click)="toggleNav()">
    <div class="hamburger" [ngClass]="{'active': navExtended}"></div>
  </div>
  <div class="content-wrapper">
    <div class="logo-text-wrapper">
      <h1>Urban analytics</h1>
    </div>
    <div class="right-wrapper">
      <div class="account-text-wrapper">
        <a routerLink="auth/login">login</a><span> / </span><a routerLink="auth/register">register</a>
        <a routerLink="/account">My Account<i class="fa fa-user-circle"></i></a>
      </div>
      <div class="icon-wrapper">
        <i class="big-icon fa fa-bell-o"></i>
        <div class="amount-wrapper">
          <span class="amount">
            7
          </span>
        </div>

        <div class="dropout-message">
          <ul>
            <li>
              <i class="fa fa-bell-o"></i>
              Notificatie 1
            </li>
            <li>
              <i class="fa fa-bell-o"></i>
              Notificatie 1
            </li>
            <li>
              <i class="fa fa-bell-o"></i>
              Notificatie 1
            </li>
          </ul>
          <!-- <span>U're mommy gay</span> -->
        </div>

      </div>
    </div>
  </div>
</div>
